:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
}

html,
body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  text-align: center;
  background-color: #000;
  color: #eee;
  font-weight: 600;
  font-size: 32px;
  padding: 10px 0;
}
